/* IMPORTING LOCAL FONTS */
@font-face {
    font-family: comic-sans;
    src: url("../Fonts/ComicSansMS.ttf");
}

/* FONTS */
.segoe-ui {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.comic-sans {
    font-family: "comic-sans";
}