/* FLEX REUSABLE STYLES */
.flex-dir-col {
    flex-direction: column;
}
.flex-dir-row {
    flex-direction: row;
}
.flex-c-c {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-s-c {
    display: flex;
    justify-content: start;
    align-items: center;
}
.flex-c-s {
    display: flex;
    justify-content: center;
    align-items: start;
}
.flex-s-s {
    display: flex;
    justify-content: start;
    align-items: start;
}

/* FONTS */
.segoe-ui {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* COMMON COLOURS */
.hack-green {
    color: rgb(0, 140, 30);
}